.about-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    text-align: center;
    margin: auto;
    margin-top: 10vh; /* Ajusta según sea necesario */
}

h3 {
    color: #00a86b;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}